<div class="text-center">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <img style="width: 30%; height: auto;" src="../../assets/Img/SOFTMAG.png" alt="logotipo">
      </div>
      <div class="col-6">
        <h5 class="card-title">Tienes dificultades</h5>
        <p class="card-text"></p>

       <!-- Button trigger modal -->
<button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
  ¡Contactanos!
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿En que te podemos ayudar?</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-12">
              <input placeholder="Correo electronico" type="email" class="form-control" id="email">
            </div>
            <div class="form-group col-12">
              <input placeholder="Nombre completo" type="text" class="form-control" id="name">
            </div>
            <div class="form-group col-12">
              <input placeholder="Asunto" type="text" class="form-control" id="subject">
            </div>
            <div class="form-group col-12">
              <label  style="color: #176B87" for="description">Describenos tu duda o problema</label>
              <textarea style="margin-bottom: 10px;" class="form-control" id="description" rows="3"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    ©2024 Todos los derechos reservados
  </div>
</div>
