<!-- <div class="container">
  <div class="presentacion">
    <img width="100%" class="img" src="../../assets/Img/Fondo-login.png" alt="">

  </div>
  <div class="login">
    <div class="d-flex">
      <div class="w-100">
        <h3 class="mb-4">Iniciar Sesion</h3>
      </div>
      <div class="w-100">
        <p class="social-media d-flex justify-content-end">
          <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
          <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
        </p>
      </div>
    </div>
    <form action="#" class="signin-form">
      <div class="form-group mb-3">
        <label class="label" for="name">Usuario</label>
        <input type="text" class="form-control" placeholder="Usuario" required>
      </div>
      <div class="form-group mb-3">
        <label class="label" for="password">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" required>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Iniciar sesion</button>
      </div>
      <div class="form-group d-md-flex">
        <div class="w-50 text-left">
          <label class="checkbox-wrap checkbox-primary mb-0">Recuerdame
          <input type="checkbox" checked>
          <span class="checkmark"></span>
          </label>
        </div>
        <div class="w-50 text-md-right">
          <a href="#">Recuperar contraseña</a>
        </div>
      </div>
    </form>

  </div>


</div>
 -->
 <div class="container">
  <div class="login-container">
    <div class="left-side"></div>
    <div class="right-side">
      <h2 class="text-center">Iniciar Sesion</h2>
      <form action="#">
        <div class="form-group">
          <input placeholder="Usuario" type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <input placeholder="Contraseña" type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <button (click)="login()" type="submit">Ingresar</button>
        </div>
      </form>
      <p class="text-center">No te has registrado? <a data-toggle="tab" href="#signup">Registrate</a></p>
    </div>
  </div>
 </div>

