.titulo{
  font-size: 190%;
  text-align: center;
  color: #176B87;
  background: #FFFFFF;
  text-shadow: #036280 1px 1px 0;
}
table.table {
  color: #012E4A;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  border: 1px solid #176B87;
  text-align: center;
}

.btn {
  color: #fff;
  background-color: #636a62;
  border-color: #636a62;
}
.form-control::placeholder {
  color: #012E4A; /* Reemplaza 'yourcolor' con el color que desees para el placeholder */
}
.acciones > button{
  margin: 2px;
}
label{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #012E4A;
}
